@charset "UTF-8";

body {
    background-color: #cdffcc;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1a2319;
}

h1#principal {
    text-align: center;
    color: #ef8354;
}

h2 {
    color: #4B644A;
}

.basico {
    color: #3fff2a;
    font-weight: bold;
}

.intermediario {
    color: #cfb20b;
}

.avancado {
    color: #fe0000;
}