@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans&display=swap');

/* Estilo para impressoras */

* {
    margin: auto;
    padding: 10px 0px 10px 0px;
}

html {
    font-family: 'Work Sans', sans-serif; 
    font-size: 1em;
    line-height: 1em;
}

h1 {
    text-align: center;
}

menu {
    display: none;
}

article {
    font-family: 'Catamaran', sans-serif;
    width: 100%;
}

article p.resumo {
    font-style: italic;
}

article::after {
    content: 'Esse artigo foi impressso através do site www.cursoemvideo.com';
}